.thefooter{
    padding-top: 20px;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    background-color: rgb(90, 172, 90);

}

footer.page-footer{
    padding-top: 20px;
    position: absolute;
    width: 100%;
    right: 0;
    position: initial;
    bottom: 0;
    left: 0;
    clear: both;
    background-color: rgb(90, 172, 90);

}