nav {
    background-color: $primary-color;
}

.brand-logo {
    margin-left: 15px;
}

nav ul a {
    display: inline-block;
}

.side-nav {
    top: inherit;
    margin-top: 1px;
}

#sidenav-overlay {
    top: inherit;
    display: none;
}

.userView {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/bright_squares.png");
    border-bottom: 1px solid #2b2b2c;
}

.circle {
    object-fit: cover;
}

.name, .email {
    color: #333333 !important;
}

.onlineHeader a {
    font-weight: bold !important;
    font-size: 16px !important;
}

.onlineFriend i {
    float: none !important;
    margin-left: 8px !important;
}

.offlineFriend {
    color: #dee2e6;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-style: italic;
}

.icon-online {
    color: rgb(90, 172, 90) !important;
}

.icon-friend-online {
    color: rgb(90, 172, 90) !important;
    font-size: 10px;
}

.navBtn {
    margin: inherit !important;
    width: inherit !important;
    padding: 0 5px 0 5px !important;
    float: none !important;
}

#signUp {
    margin-right: 20px !important;
}

#navBarOut {
    padding-right: 20px;
}

#navBarOut a {
    float: left;
    margin-bottom: 10px;
}

#navBarOut ul div {
    display: inline-block !important;
}

#signUpSubmit {
    margin: 1% !important;
    width: auto !important;
    padding: 0 5px 0 5px !important;
}

#loginBtn {
    margin: 1% !important;
    width: auto !important;
    padding: 0 5px 0 5px !important;
}

.file-field .btn {
    margin: 1% !important;
    width: auto !important;
    padding: 5px !important;
    height: inherit !important;
    line-height: inherit !important;
}

div.modal-content {
    padding-bottom: 0 !important;
}

#signUpForm > .s6 {
    float: right;
}

#signUpForm > .file-field {
    padding-right: 0 !important;
}

#signUpForm label.active {
    color: $primary-color;
}

#loginForm label.active {
    color: $primary-color;
}

#loginEmail label.active {
    color: $primary-color;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label {
    color: $primary-color;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $primary-color !important;
    box-shadow: 0 1px 0 0 $primary-color !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: 0 1px 0 0 $primary-color !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: 0 1px 0 0 $primary-color !important;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label {
    color: $primary-color !important;
}

.cancel {
    // display: inline-block !important;
    margin: 1% !important;
    width: auto !important;
    padding: 0 5px 0 5px !important;
    float: right !important;
}

.myChatBtn {
    position: fixed;
    width: 56px !important;
    height: 56px !important;
    bottom: 23px;
    left: 23px;
}

.FriendProfile {
    margin-top: 6%;
    margin-bottom: 16%;
    height: 300px;
}

#signUpModal, #loginModal {
    display: inline-block;
}

#newJournal {
    position: absolute;
    right: 0;
    margin: 32px;
}

#addProfilePic {
    width: inherit !important;
}

#search {
    position: relative;
    bottom: 3px;
    padding-top: 3px;
}

#search:focus {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

#search::placeholder {
    color: #ffffff;
    opacity: .5;
}