nav {
    background-color: rgb(83, 119, 83);
}

.brand-logo {
    margin-left: 15px;
}

nav ul a {
    display: inline-block;
}

.side-nav {
    top: inherit;
    margin-top: 1px;
}

#sidenav-overlay {
    top: inherit;
    display: none;
}

.userView {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/bright_squares.png");
    border-bottom: 1px solid #dee2e6;
}

.circle {
    object-fit: cover;
}

.name, .email {
    color: #333333 !important;
}

.onlineHeader a {
    font-weight: bold !important;
    font-size: 16px !important;
}

.onlineFriend i {
    float: none !important;
    margin-left: 8px !important;
}

.offlineFriend {
    color: #dee2e6;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-style: italic;
}

.icon-online {
    color: rgb(90, 172, 90) !important;
}

.icon-friend-online {
    color: rgb(90, 172, 90) !important;
    font-size: 10px;
}

.navBtn {
    margin: inherit !important;
    width: inherit !important;
    padding: 0 5px 0 5px !important;
    float: none !important;
}

#signUp {
    margin-right: 20px !important;
}

#navBarOut {
    padding-right: 20px;
}

#navBarOut a {
    float: left;
    margin-bottom: 10px;
}

#navBarOut ul div {
    display: inline-block !important;
}

#signUpSubmit {
    margin: 1% !important;
    width: auto !important;
    padding: 0 5px 0 5px !important;
}

#loginBtn {
    margin: 1% !important;
    width: auto !important;
    padding: 0 5px 0 5px !important;
}

.file-field .btn {
    margin: 1% !important;
    width: auto !important;
    padding: 5px !important;
    height: inherit !important;
    line-height: inherit !important;
}

div.modal-content {
    padding-bottom: 0 !important;
}

#signUpForm > .s6 {
    float: right;
}

#signUpForm > .file-field {
    padding-right: 0 !important;
}

.cancel {
    display: inline-block !important;
    margin: 1% !important;
    width: auto !important;
    padding: 0 5px 0 5px !important;
    float: right !important;
}

.FriendProfile {
    margin-top: 10px;
}
